:root {
  --primary-color: #fa1b37;
  --secondary-color: #f8c700;
  --terciary-color: #221b1b;
  --white-color: #fff;
  --gray-color: #d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}